name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  library:
    runs-on: macos-12
    strategy:
      matrix:
        xcode: ["14.1"]
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - uses: actions/cache@v3
        with:
          path: .deriveddata
          key: ${{ runner.os }}-spm-Xcode-${{ matrix.xcode }}-${{ hashFiles('**/Package.swift') }}
          restore-keys: |
            ${{ runner.os }}-spm-Xcode-${{ matrix.xcode }}-
      - name: Run tests
        run: make test-library

  example:
    runs-on: macos-12
    strategy:
      matrix:
        xcode: ["14.1"]
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Build example
        run: make build-example

  # examples:
  #   runs-on: macos-12
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Run tests
  #       run: make test-examples
